:root {
  --primary-color: #b0d0bb; /* Color principal */
  --secondary-color: #758f9c; /* Color de texto y bordes */
  --header-bg-color: #b2d5db; /* Fondo del encabezado */
  --row-bg-color: #d9e7e8; /* Fondo de los inputs */
  --table-bg-color: #fafaf0; /* Fondo general */
  --error-color: #dc3545; /* Rojo para mensajes de error */
}

/* Centrar contenido en toda la pantalla */
.full-screen {
  height: 100vh; /* Ocupa toda la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--table-bg-color); /* Fondo general */
  margin: 0;
}

/* Estilo del formulario */
form {
  background-color: white;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 20px 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%; /* Responsive */
}

h2 {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 20px;
}

label {
  color: var(--secondary-color);
  font-weight: bold;
}

input {
  background-color: var(--row-bg-color);
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}