
<div class="full-screen" style="margin-bottom: 100px;">
  <div class="container mt-5">
    <h2 class="text-center mb-4">Registrar Producto</h2>
    
    <!-- Formulario -->
    <form (ngSubmit)="onSubmit()" #productForm="ngForm" class="shadow-lg p-4 rounded">
      <div class="mb-3">
        <label for="product_id" class="form-label">ID del Producto</label>
        <input
          id="product_id"
          type="text"
          class="form-control"
          [(ngModel)]="product.product_id"
          name="product_id"
          required
          #product_id="ngModel"
          />
          <div *ngIf="product_id.invalid && product_id.touched" class="error-message">
            <span *ngIf="product_id.errors?.['required']">El ID del producto es obligatorio.</span>
          </div>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input
          id="name"
          type="text"
          class="form-control"
          [(ngModel)]="product.name"
          name="name"
          required
          minlength="3"
            maxlength="50"
            #name="ngModel"
          />
          <div *ngIf="name.invalid && name.touched" class="error-message">
            <span *ngIf="name.errors?.['required']">El Nombre es obligatorio.</span>
            <span *ngIf="name.errors?.['minlength']">El Nombre debe contener mas de 3 caracteres.</span>
            <span *ngIf="name.errors?.['maxlength']">El Nombre debe contener menos de 50 caracteres.</span>
          </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Descripción</label>
        <textarea
          id="description"
          class="form-control"
          [(ngModel)]="product.description"
          name="description"
          required
          #description="ngModel"
          ></textarea>
          <div *ngIf="description.invalid && description.touched" class="error-message">
            <span *ngIf="description.errors?.['required']">La Descripción es obligatoria.</span>
          </div>
      </div>
      <div class="mb-3">
        <label for="quantity" class="form-label">Cantidad</label>
        <input
          id="quantity"
          type="number"
          class="form-control"
          [(ngModel)]="product.quantity"
          name="quantity"
          required
          pattern="^[0-9]+$"
          min="1"
          #quantity="ngModel"  
          />
          <div *ngIf="quantity.invalid && quantity.touched" class="error-message">
            <span *ngIf="quantity.errors?.['required']">La cantidad es obligatoria.</span>
            <span *ngIf="quantity.errors?.['min']">La cantidad debe ser mayor o igual a 1.</span>
            <span *ngIf="quantity.errors?.['pattern']">La cantidad debe ser un numero entero.</span>
          </div>        
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Precio</label>
        <input
          id="price"
          type="number"
          class="form-control"
          [(ngModel)]="product.price"
          name="price"
          required
          min="1"
          #price="ngModel"  
          />
          <div *ngIf="price.invalid && price.touched" class="error-message">
            <span *ngIf="price.errors?.['required']">El precio es obligatorio.</span>
            <span *ngIf="price.errors?.['min']">El precio debe ser mayor o igual a 1.</span>
          </div>
      </div>
      <div class="mb-3">
        <label for="category" class="form-label">Categoría</label>
        <input
          id="category"
          type="text"
          class="form-control"
          [(ngModel)]="product.category"
          name="category"
          required
          #category="ngModel"
          />
          <div *ngIf="category.invalid && category.touched" class="error-message">
            <span *ngIf="category.errors?.['required']">La Categoría es obligatoria.</span>
          </div>
      </div>
      <div class="d-flex justify-content-between">
        <button 
          type="submit" 
          class="btn btn-primary" 
          [disabled]="!productForm.valid">
          Registrar
        </button>
        <button 
          type="button" 
          class="btn btn-secondary" 
          (click)="onReset()">
          Limpiar
        </button>
        <div>
          <button class="btn btn-secondary" (click)="handleHome()">Cancelar</button>
        </div> 
      </div>
    </form>
  </div>  
</div>